@use '../../other/variables';

.form-body {
    background-image: url("../../assets/imgs/general/form/paysage.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 60em rgba(0, 0, 0, 0.58) inset;

    .form-body__section {
        margin-top: 5em;

        .form-body__h1 {
            font-size: 2.25rem;
        }

        .form-width {
            width: 30%;
        }

        // .form-parent-row
        .form-parent-row {

            input[type="checkbox"] {
                transform: scale(1.1);
            }
        }
    }
}

// .form-redirection-text (registration form)
.form-redirection-text {
    margin-top: 3em;
    margin-bottom: 0.875rem;
    font-size: 1.063rem;
    transition: none;

    a {
        color: variables.$form-btn-bg-color;
        font-size: 1.063rem;
    }

    a:hover {
        color: variables.$form-btn-bg-color-active;
        text-decoration: underline;
        transition: none;
        cursor: pointer;
    }
}

// .account-parent (login form)
.account-parent {
    font-family: "PoppinsExtraLight", sans-serif;
    font-weight: 300;

    .forgotten-password {
        margin-top: 3em;
        font-size: 1.063rem;
    }
}

// .edit parameters__form
.edit-parameters__form {

    .reset-btn {
        font-family: "PoppinsLight", sans-serif;
        font-size: 0.86rem;
        background-color: #dcac4d;
        border: 1px solid #dcac4d;
        padding: 0.5em 0px;
        transition: none;
        width: 20%;
    }

    .reset-btn:hover {
        background-color: variables.$form-btn-bg-color-active;
        border: 1px solid variables.$form-btn-bg-color-active;
    }
}

// Non-nested style
input,
select,
textarea {
    font-family: "PoppinsLight", sans-serif;
    background-color: #fff;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
    font-size: 0.906rem;
    direction: left;
    text-indent: 10px;
}

input[type="text"],
input[type="select"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="search"],
select {
    height: 35px;
}

input[type="file"] {
    text-indent: 0;
}

input[type="file"]::file-selector-button {
    font-family: "PoppinsLight", sans-serif;
    border: 2px solid #B8B8B8;
    background-color: #B8B8B8;
    height: 35px;
    padding: 0 0.625em;
    font-size: 0.875rem;
    cursor: pointer;
}

.mt-label {
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

// .submit-btn
.submit-btn {
    font-family: "PoppinsLight", sans-serif;
    font-size: 0.9rem;
    background-color: variables.$form-btn-bg-color;
    border: 1px solid variables.$form-btn-bg-color;
    padding: 0.5em 0 0.5em 0;
    margin: 5rem auto 1.563rem auto;
    transition: none;
    width: 40%;
}

.submit-btn:hover {
    background-color: variables.$form-btn-bg-color-active;
    border: 1px solid variables.$form-btn-bg-color-active;
    cursor: pointer;
}