@use '../../../other/variables';

.settings-container {
    max-width: 1080px;
    margin-top: 4em;
    margin-bottom: 4em;
}

.settings-parent {
    border-top: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
    border-left: 1px solid #A0A0A0;
    padding-right: 1.563rem;
}

// all-settings
.all-settings {
    margin-right: 0.625em;
}

.all-settings>li {
    padding: 1.563em 0 1.563em 1.25em;
    width: 100%;
}

// Icons (ul li>a)
.all-settings li a>i {
    font-size: 1.313rem;
    margin-right: 1.25em;
}

// border-left
.border-left {
    border-left: 2px solid #000;
}

.edit-parameters {
    border: 1px solid #A0A0A0;
    padding: 1.875em 0 1.875em 2.5em;
    width: 65%;
}

// profile-picture
.profile-picture li {
    width: 11%;
}

.profile-picture>li {
    font-size: 1.125rem;
}

.profile-form div>.submit-btn {
    margin-top: 3em;
}

.edit-parameters>hr {
    width: 95%;
    margin: 3.2em 0 3em 0;
}

.edit-parameters form>.delete-profile, .account-params form>button {
    font-family: "PoppinsLight", sans-serif;
    border: 1px solid firebrick;
    background-color: #fff;
    padding: 0.6em 1.1em 0.6em 1.1em;
    font-size: 1rem;
    color: firebrick;
}

.edit-parameters form>.delete-profile:hover, .account-params form>button:hover {
    border: 1px solid firebrick;
    background-color: firebrick;
    color: #fff;
}

/************
RESPONSIVE
************/
// Mobile (portrait)
@media screen and (max-width: 480px) {
    .profile-form>form {
        width: 100%;
    }

    .settings-container {
        width: 378px;
        margin: 0 auto;
    }

    .all-settings>li {
        padding: 25px 1em 25px 20px;
    }

    .all-settings li>a {
        font-size: 0; // Pour cacher le texte associé à l'icône
    }

    .all-settings li a>i {
        font-size: 22px; // Pour garder l'icône visible
        margin-right: 0;
    }

    .separator {
        padding: 30px 0 30px 0;
    }

    .profile-picture {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .profile-picture>figure {
        width: 23%;
    }

    .profile-picture figure>img {
        border-radius: 50%;
    }

    .profile-picture>ul {
        line-height: 2em;
    }

    .profile-picture ul>li:first-child {
        font-size: 18px;
        text-align: center;
    }

    .profile-picture ul li>a {
        font-family: "PoppinsLight", sans-serif;
        color: #608DFF;
        text-align: center;
    }

    // profile-form
    .profile-form {
        margin-top: 50px;
    }

    .profile-form form>.param {
        flex-direction: column;
    }

    .param {
        margin-left: 40px;
    }

    .param label,
    input,
    textarea,
    select {
        flex-shrink: 0;
    }

    .param>.profile-input,
    .profile-textarea,
    .profile-select {
        width: 70%;
        margin-left: 0;
    }

    .param>input,
    select {
        font-family: "PoppinsLight", sans-serif;
        height: 30px;
    }

    .param>input {
        margin-top: 10px;
    }

    .param>textarea {
        font-family: "PoppinsLight", sans-serif;
        height: 150px;
        overflow: auto;
        padding: 5px 15px 5px 15px;
        margin-top: 10px;
    }

    // submit-changes
    .submit-changes {
        margin-left: 40px;
    }

    .submit-changes>button {
        font-size: 13px;
    }
}

// Tablette (portrait)
@media screen and (min-width: 481px) and (max-width: 768px) {}

// Tablette (paysage)
@media screen and (min-width: 769px) and (max-width: 1024px) {}