/***Reset***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .3s ease;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: var(--base-bg-color);
  color: var(--text-color);
}

main {
  flex: 1;
}

html,
body,
.accueil {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PoppinsRegular", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 1.27rem;
}

span,
ul,
a,
label,
input,
select,
textarea,
button {
  font-family: "PoppinsLight", sans-serif;
  font-weight: 300;
}

p {
  font-family: "PoppinsLight", sans-serif;
  font-weight: 300;
}

a {
  color: var(--text-color);
  font-size: 1.125rem;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
}