:root {
    --base-bg-color: #fff;
    --text-color: #000000;
    --nav-bg-color: #fff;
}


/***Dark mode***/
.dark-mode {
    --base-bg-color: #333333;
    --text-color: #fff;
    --nav-bg-color: #333333;
}