// Slider
.swiper {
  max-width: 1450px;
  margin-bottom: 5em;

  // .slider-cards-container
  .slider-cards-container {
    max-width: 100%;
    margin: 0 4.688em 2.188em 4.688em;
    overflow: hidden;

    // Les paramètres associés à une seule carte du slider
    .swiper-slide {
      border: 3px solid #DCAC4D;
      padding: 0.625em 0;

      // Le contenu de la carte
      .card-content {
        width: 235px;

        .card-content__img {
          margin: 0.313em 0 0.938em 0;
        }

        .see-translation-link>a {
          font-family: "PoppinsSemibold", sans-serif;
        }

        .text {
          font-family: "PoppinsRegular", sans-serif;
          margin: 3.125em 0;
          line-height: 2.5em;

          li>span {
            font-family: "PoppinsLight", sans-serif;
            font-weight: 300;
          }
        }

        .other-infos {
          font-family: "PoppinsRegular", sans-serif;
          font-size: 0.938rem;
          margin: 1.34em 0 0.625em 0;
          color: var(--text-color);
          list-style: none;
          line-height: 2em;

          li>span {
            font-family: "PoppinsLight", sans-serif;
            font-weight: 300;
            cursor: grabbing;
          }
        }
      }
    }
  }

  // Arrows
  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-color: var(--text-color);
    --swiper-navigation-size: 1.75rem;
  }
}