@use '../other/variables';

/*** .landing-header ***/
.landing-header {
    background-image: url("../assets/imgs/general/accueil/header.png");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center center;

    // <h1>
    .landing-header__h1 {
        font-family: "PoppinsLight", sans-serif;
        font-size: 2.813rem;
        line-height: 3.5;
    }

    // <p>
    .landing-header__p {
        font-family: "PoppinsExtraLight", sans-serif;
        font-size: 22px;
        max-width: 1050px;
    }

    // <ul>
    .landing-header__ul {
        margin-top: 6em;

        >li {
            border: 2px solid white;
            border-radius: 7px;
            padding: 0.625em 2.8125em;
            transition: none;
        }

        >li:hover {
            border: 2px solid variables.$form-btn-bg-color-hover;
            background-color: variables.$form-btn-bg-color-hover;
            transition: none;
            cursor: pointer;
        }

        >li:active {
            border: 2px solid variables.$form-btn-bg-color-active;
            background-color: variables.$form-btn-bg-color-active;
            transition: none;
        }

        >li>a {
            font-family: "PoppinsLight", sans-serif;
            font-size: 1.063rem;
        }
    }
}


/*** Main ***/

// .translation-titles
.translation-titles {
    padding: 4em 0 3.5em 0;

    // <p>
    .translation-titles__p {
        font-family: "PoppinsExtraLight", sans-serif;
        font-size: 1.5rem;
        line-height: 70px;
    }
}

// .translation-parent
.translation-parent {
    column-gap: 4em;
    padding-bottom: 3.5em;

    // .translation-card
    >.translation-card {
        border: 3px solid #DCAC4D;
        border-radius: 10px;
        width: 20%;
        padding: 1em 0.5em;

        >.card-img {
            width: 90%;
        }

        // .summary
        >.summary {
            max-width: 260px;

            >li:first-child {
                margin-top: 0.2em;
                font-size: 1.4rem;
            }

            >li>p {
                margin: 1.25rem 0 1.563rem 0;
            }

            >li>a {
                color: variables.$form-btn-bg-color-hover;
                transition: none;
                font-size: 1rem;
            }

            >li>a:hover {
                transition: none;
                text-decoration: underline;
                color: variables.$form-btn-bg-color-active;
                cursor: pointer;
            }
        }
    }
}

/************
RESPONSIVE
************/
// Mobile (portrait)
@media screen and (max-width: 480px) {

    // Hero
    .hero-div h1 {
        font-size: 24px;
        line-height: normal;
        margin-bottom: 2em;
        padding: 0 0.5em 0 0.5em;
    }

    .hero-div>p {
        font-size: 19px;
        padding: 0 0.5em 0 0.5em;
    }

    .hero-div>ul {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .hero-div>ul li form>.hero-input {
        font-size: 16px;
        padding: 10px 45px 10px 45px;
    }

    // Accueil container
    .accueil-container .translation-titles>p:first-child {
        margin-bottom: 30px;
    }

    .accueil-container .translation-titles>p {
        font-size: 20px;
        line-height: normal;
        text-align: center;
        padding: 0 5px 0 5px;
    }

    .accueil-container .translation-titles>span:first-child {
        margin-bottom: 25px;
    }

    .accueil-container .translation-parent {
        flex-wrap: wrap;
    }

    .accueil-container>section .translation-card {
        border: 2px solid #DCAC4D;
    }

    .accueil-container .translation-parent>.translation-card {
        width: 60%;
        margin-bottom: 3em;
    }

    .accueil-container .translation-parent .translation-card .summary>span {
        font-size: 20px;
    }

    .accueil-container .translation-parent .translation-card .summary>p {
        font-size: 15px;
        padding: 0.5em;
    }

    .accueil-container .translation-parent .translation-card .summary>a {
        font-size: 15px;
        width: 95%;
    }
}

// Tablette (portrait)
@media screen and (min-width: 481px) and (max-width: 561px) {

    // Hero
    .hero-div h1 {
        font-size: 24px;
        line-height: normal;
        margin-bottom: 2em;
        padding: 0 0.5em 0 0.5em;
    }

    .hero-div>p {
        font-size: 19px;
        padding: 0 0.5em 0 0.5em;
    }

    .hero-div>ul {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .hero-div>ul li form>.hero-input {
        font-size: 16px;
        padding: 10px 45px 10px 45px;
    }

    // Accueil container
    .accueil-container .translation-titles>p:first-child {
        margin-bottom: 30px;
    }

    .accueil-container .translation-titles>p {
        font-size: 20px;
        line-height: normal;
        text-align: center;
        padding: 0 5px 0 5px;
    }

    .accueil-container .translation-titles>span:first-child {
        margin-bottom: 25px;
    }

    .accueil-container .translation-parent {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .accueil-container>section .translation-card {
        border: 2px solid #DCAC4D;
    }

    .accueil-container .translation-parent>.translation-card {
        width: 60%;
        margin-bottom: 3em;
    }

    .accueil-container .translation-parent .translation-card .summary>span {
        font-size: 20px;
    }

    .accueil-container .translation-parent .translation-card .summary>p {
        font-size: 15px;
        padding: 0.5em;
    }

    .accueil-container .translation-parent .translation-card .summary>a {
        font-size: 15px;
        padding: 0.5em;
    }
}

// Tablette (portrait) 2
@media screen and (min-width: 562px) and (max-width: 768px) {

    // Hero
    .hero-div h1 {
        font-size: 24px;
        line-height: normal;
        margin-bottom: 2em;
        padding: 0 0.5em 0 0.5em;
    }

    .hero-div>p {
        font-size: 19px;
        padding: 0 0.5em 0 0.5em;
    }

    .hero-div>ul {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .hero-div>ul li form>.hero-input {
        font-size: 16px;
        padding: 10px 45px 10px 45px;
    }

    // Accueil container
    .accueil-container .translation-titles>p:first-child {
        margin-bottom: 30px;
    }

    .accueil-container .translation-titles>p {
        font-size: 20px;
        line-height: normal;
        text-align: center;
        padding: 0 5px 0 5px;
    }

    .accueil-container .translation-titles>span:first-child {
        margin-bottom: 25px;
    }

    .accueil-container .translation-parent {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .accueil-container>section .translation-card {
        border: 2px solid #DCAC4D;
    }

    .accueil-container .translation-parent>.translation-card {
        width: 50%;
        margin-bottom: 3em;
    }

    .accueil-container .translation-parent .translation-card .summary>span {
        font-size: 20px;
    }

    .accueil-container .translation-parent .translation-card .summary>p {
        font-size: 15px;
        padding: 0.5em;
    }

    .accueil-container .translation-parent .translation-card .summary>a {
        font-size: 15px;
        width: 95%;
    }
}

// Tablette (paysage)
@media screen and (min-width: 769px) and (max-width: 1024px) {

    // Hero
    .hero-div h1 {
        font-size: 26px;
        line-height: normal;
        margin-bottom: 2em;
        padding: 0 0.5em 0 0.5em;
    }

    .hero-div h2 {
        font-size: 20px;
        padding: 0 0.5em 0 0.5em;
    }

    .hero-div>ul li form>.hero-input {
        font-size: 16px;
        padding: 8px 43px 8px 43px;
    }

    // Accueil container
    .accueil-container .translation-titles>span {
        font-size: 20px;
        line-height: normal;
        text-align: center;
        padding: 0 5px 0 5px;
    }

    .accueil-container .translation-parent {
        flex-wrap: wrap;
    }

    .accueil-container .translation-titles>span:first-child {
        margin-bottom: 30px;
    }

    .accueil-container .translation-parent>.translation-card {
        width: 40%;
        margin-bottom: 3em;
    }

    .accueil-container .translation-parent .translation-card>span {
        font-size: 20px;
    }

    .accueil-container .translation-parent .translation-card>p {
        font-size: 15px;
        padding: 0.8em;
    }
}