.account-hr {
    width: 93%;
    margin: 2.5rem 0;
}

.account-params {
    flex-direction: column;
    justify-content: center;
    margin-top: 0.8rem;

    >h3 {
        font-weight: 400;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    div {

        >.password-link {
            font-family: "PoppinsLight", sans-serif;
            padding: 0.6em 1.1em 0.6em 1.1em;
            margin: 2em 0 1em 0;
            font-size: 0.9rem;
            background-color: var(--password-bg-color);
            border: var(--password-border);
            color: var(--password-color);
        }

        >.password-link:hover {
            background-color: var(--password-bg-color-hover);
            border: var(--password-border-hover);
            color: var(--password-color-hover);
        }

        >form {
            >button {
                font-family: "PoppinsLight", sans-serif;
                background-color: var(--danger-bg-color);
                border: var(--danger-border);
                color: var(--danger-color);
                padding: 0.6em 1.1em 0.6em 1.1em;
                margin: 2em 0 1em 0;
                font-size: 0.9rem;
            }

            >button:hover {
                background-color: var(--danger-bg-color-hover);
                border: var(--danger-border-hover);
                color: var(--danger-color-hover);
            }
        }
    }
}

.edit-parameters {

    >.flash-success {
        font-family: "PoppinsLight", sans-serif;
        font-size: 1rem;
    }
}

/************
RESPONSIVE
************/
// Mobile (portrait)
@media screen and (max-width: 480px) {

    .account-hr {
        margin: 1rem 0 1rem 0;
        margin: 0 auto;
    }

    .other-actions {
        margin-left: 20px;
        font-size: 15.5px;
    }

    .other-actions>li i {
        font-size: 0;
    }
}

// Tablette (portrait)
@media screen and (min-width: 481px) and (max-width: 768px) {}

// Tablette (paysage)
@media screen and (min-width: 769px) and (max-width: 1024px) {}