@use '../../other/variables';

.forms-body {
    background-image: url("../../assets/imgs/general/form/paysage.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 60em rgba(0, 0, 0, 0.58) inset;
}

.forms-body main>section {
    margin-top: 5em;
}

.forms-body main section>h1 {
    font-family: "PoppinsRegular", sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.form-width {
    width: 30%;
}

.form-parent-row>input, .form-parent-row>select {
    font-family: "PoppinsLight", sans-serif;
    background-color: #fff;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
    height: 35px;
    font-size: 14.5px;
    direction: left;
    text-indent: 10px;
}

.form-parent-row>textarea {
    font-family: "PoppinsLight", sans-serif;
    background-color: #fff;
    border: 1px solid #B8B8B8;
    direction: left;
    font-size: 14.5px;
    text-indent: 10px;
    border-radius: 3px;
}

.mt-label {
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

/*** .submit-btn ***/
.submit-btn {
    font-family: "PoppinsLight", sans-serif;
    font-size: 16px;
    background-color: variables.$form-btn-bg-color;
    border: 1px solid variables.$form-btn-bg-color;
    padding: 0.5em 0 0.5em 0;
    margin: 80px auto 25px auto;
    transition: none;
}

.submit-btn:hover {
    background-color: variables.$form-btn-bg-color-active;
    border: 1px solid variables.$form-btn-bg-color-active;
    cursor: pointer;
}

/*** account-parent ***/
.account-parent {
    margin-top: 3em;
}

.account-parent a,
.account-parent div {
    margin-bottom: 14px;
    color: #fff;
    transition: none;
}

.account-parent div>.connect-register-link {
    font-family: "PoppinsLight", sans-serif;
    font-weight: 300;
    color: variables.$form-btn-bg-color;
}

.account-parent div>.connect-register-link:hover {
    color: variables.$form-btn-bg-color-active;
    text-decoration: underline;
    transition: none;
    cursor: pointer;
}

.account-parent>a,
.account-parent div {
    font-family: "PoppinsExtraLight", sans-serif;
    font-weight: 300;
}

input[type="file"] {
    text-indent: 0;
}

input[type="file"]::file-selector-button {
    font-family: "PoppinsLight", sans-serif;
    border: 2px solid #B8B8B8;
    background-color: #B8B8B8;
    height: 35px;
    padding: 0 10px 0 10px;
    font-size: 14px;
    cursor: pointer;
}

input[type=checkbox] {
    transform: scale(1.4);
}