.accueil-connect-container>h2 {
  margin: 50px 0 30px 15px;
}

// Slider
.swiper {
  max-width: 1450px;
  margin-bottom: 5em;
}

.slider-cards-container {
  max-width: 100%;
  margin: 0 75px 35px 75px;
  overflow: hidden;
}

// Les paramètres associés à une seule carte du slider
.swiper-slide {
  border: 3px solid #DCAC4D;
  padding: 10px 0 10px 0;
}

// Le contenu de la carte
.card-content {
  width: 235px;
}

.swiper-slide .card-content figure>img {
  margin: 5px 0 15px 0;
}

.see-translation-link>a {
  font-family: "PoppinsSemibold", sans-serif;
}

.swiper-slide .card-content>.text {
  font-family: "PoppinsRegular", sans-serif;
  margin: 50px 0 50px 0;
  line-height: 2.5em;
}

.swiper-slide .card-content .text li>span {
  font-family: "PoppinsLight", sans-serif;
  font-weight: 300;
}

.swiper-slide .card-content>.other-infos {
  font-family: "PoppinsRegular", sans-serif;
  font-size: 15px;
  margin: 20px 0 10px 0;
  color: var(--text-color);
  list-style: none;
  line-height: 2em;
}

.swiper-slide .card-content .other-infos li>span {
  font-family: "PoppinsLight", sans-serif;
  font-weight: 300;
}

.swiper-slide:active {
  cursor: grabbing;
}

// Arrows
.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: #000;
  --swiper-navigation-size: 28px;
}