@use '../../other/variables';

.profile-container {
    width: 100%;
}

// Profile banner
.profile-banner {
    background-image: url("../assets/imgs/placeholders/placeholder-picture.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 45vh;
    position: absolute;
    z-index: -10;
}

.user-pfp-header, .user-pfp-profile, .user-pfp-settings {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-pfp-profile {
    width: 100px;
    height: 100px;
}

.user-pfp-settings {
    width: 90px;
    height: 90px;
}

.user-pfp-header {
    width: 65px;
    height: 65px;
}

.profile-infos {
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #A0A0A0;
    margin-bottom: 3em;
    margin-top: 19em;
}

// .user-profile
.user-profile {
    width: 100%;
}

.user-profile .hr-profile {
    margin: 2em 0 2em 0;
}

.user-profile .hr-profile>#separator {
    background-color: #A0A0A0;
    width: 80%;
    height: 0.5px;
    border: 0;
    margin: 0 auto;
}

// .parameters-icons
.user-profile>.parameters-icons {
    padding: 10px 10px 10px 0;
    justify-content: flex-end;
    gap: 15px;
}

.parameters-icons>a {
    font-size: 21px;
}

.username-and-description {
    text-align: center;
}

.username-and-description>h1 {
    font-weight: 500;
    font-size: 24px;
    margin: 3px 0 0.7em 0;
}

.username-and-description>p {
    font-family: "PoppinsLightItalic", sans-serif;
    font-weight: 300;
    font-style: italic;
    max-width: 55%;
    color: #888888;
    margin: 0 auto;
}

.activity-infos {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.1em;
}

.activity-infos div>p {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.activity-infos .translations p>i {
    font-size: 21.5px;
    align-content: center;
    color: #1B9675;
    margin-right: 8px;
}

.buttons-and-songs {
    flex-direction: column;
}

.posts-btns {
    justify-content: center;
    margin-bottom: 5em;
}

.fa-plus, .fa-arrow-right-from-bracket, .fa-screwdriver-wrench, .fa-pen, .fa-ban {
    font-size: 14px;
    margin-right: 8px;
}

.create-post {
    border: 1px solid #198754;
    color: #198754;
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    font-size: 15.5px;
    transition: all 0.2s;
}

.create-post:hover {
    background-color: #198754;
    color: #fff;
    transition: all 0.2s;
    cursor: pointer;
}

.action-buttons {
    margin: 30px 0 10px 0;
    justify-content: center;
}

.action-buttons>form {
    margin-left: 10px;
}

.action-buttons>.edit {
    align-items: center;
    border: 1px solid #198754;
    background-color: #fff;
    color: #198754;
    padding: 4px 12px 4px 12px;
    border-radius: 5px;
    transition: all 0.2s;
    font-size: 14px;
}

.action-buttons>.edit:hover {
    border: 1px solid #198754;
    background-color: #198754;
    color: #fff;
    transition: all 0.2s;
    cursor: pointer;
}

.action-buttons .edit>p:hover {
    color: #fff;
    cursor: pointer;
}

.action-buttons form>button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #b22222;
    background-color: #fff;
    color: #b22222;
    padding: 6px 14px 6px 14px;
    border-radius: 5px;
    transition: all 0.2s;
    font-size: 13.8px;
}

.action-buttons form>button:hover {
    background-color: #b22222;
    color: #fff;
    transition: all 0.2s;
    cursor: pointer;
}

.admin {
    border: 1px solid #1c1e7b;
    color: #1c1e7b;
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    font-size: 15.5px;
    transition: all 0.2s;
    margin-left: 35px;
}

.admin:hover {
    background-color: #1c1e7b;
    color: #fff;
    transition: all 0.2s;
    cursor: pointer;
}

.flash-success, .message {
    font-family: "PoppinsRegular", sans-serif;
    text-align: center;
    font-size: 18px;
    margin-bottom: 3.5em;
}

.no-content-message {
    font-family: "PoppinsRegular", sans-serif;
    margin-bottom: 5em;
}